# Introduction to Scikit-Learn (sklearn)

This notebook demonstrates some of the most useful functions of the beautiful Scikit-Learn library.

What we're going to cover:

0. An end-to-end Scikit-Learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and load a trained model
7. Putting it all together!

In [1]:
import numpy as np

## 0. An end-to-end Scikit-Learn workflow

In [2]:
# 1. Get the data ready
import pandas as pd

heart_disease = pd.read_csv("data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
# Create X (features matrix)
X = heart_disease.drop("target", axis=1)
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [4]:
# Create y (labels)
y = heart_disease["target"]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [5]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [6]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [7]:
clf.fit(X_train, y_train);

In [8]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
187,54,1,0,124,266,0,0,109,1,2.2,1,1,3
40,51,0,2,140,308,0,0,142,0,1.5,2,1,2
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3
35,46,0,2,142,177,0,0,160,1,1.4,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,70,1,1,156,245,0,0,143,0,0.0,2,0,2
99,53,1,2,130,246,1,0,173,0,0.0,2,3,2
252,62,0,0,138,294,1,1,106,0,1.9,1,3,2
94,45,0,1,112,160,0,1,138,0,0.0,1,0,2
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3

In [9]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
260,66,0,0,178,228,1,1,165,1,1.0,1,2,3
36,54,0,2,135,304,1,1,170,0,0.0,2,0,2
49,53,0,0,138,234,0,0,160,0,0.0,2,0,2
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2
143,67,0,0,106,223,0,1,142,0,0.3,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,52,1,1,134,201,0,1,158,0,0.8,2,1,2
238,77,1,0,125,304,0,0,162,1,0.0,2,3,2
105,68,0,2,120,211,0,0,115,0,1.5,1,0,2
169,53,1,0,140,203,1,0,155,1,3.1,0,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3

In [10]:
# Make a prediction
# y_label = clf.predict(np.array([0, 2, 3, 4]))
y_preds = clf.predict(X_test)
y_preds

array([0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0], dtype=int64)

In [11]:
y_test

260    0
36     1
49     1
6      1
143    1
      ..
55     1
238    0
105    1
169    0
299    0
Name: target, Length: 61, dtype: int64

In [12]:
# 4. Evaluate the model on the training data and test data
clf.score(X_train, y_train)

1.0

In [13]:
clf.score(X_test, y_test)

0.8032786885245902

In [14]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.77      0.71      0.74        24
           1       0.82      0.86      0.84        37

    accuracy                           0.80        61
   macro avg       0.80      0.79      0.79        61
weighted avg       0.80      0.80      0.80        61

In [15]:
confusion_matrix(y_test, y_preds)

array([[17,  7],
       [ 5, 32]], dtype=int64)

In [16]:
accuracy_score(y_test, y_preds)

0.8032786885245902

In [17]:
# 5. Improve a model
# Try different amount of n_estimators
np.random.seed(42)

for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f} %")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 83.61 %

Trying model with 20 estimators...
Model accuracy on test set: 75.41 %

Trying model with 30 estimators...
Model accuracy on test set: 81.97 %

Trying model with 40 estimators...
Model accuracy on test set: 80.33 %

Trying model with 50 estimators...
Model accuracy on test set: 81.97 %

Trying model with 60 estimators...
Model accuracy on test set: 80.33 %

Trying model with 70 estimators...
Model accuracy on test set: 80.33 %

Trying model with 80 estimators...
Model accuracy on test set: 80.33 %

Trying model with 90 estimators...
Model accuracy on test set: 75.41 %

In [18]:
# 6. Save a model and load it
import pickle

pickle.dump(clf, open("random-forest-model-1.pkl", "wb"))

In [19]:
loaded_model = pickle.load(open("random-forest-model-1.pkl", "rb"))
loaded_model.score(X_test, y_test)

0.7540983606557377

In [20]:
# import sklearn

# sklearn.show_versions()

In [21]:
# import warnings

# warnings.filterwarnings("ignore")
# warnings.filterwarnings("default")